GPRSService/Service References/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sqlstr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:ArrayOfSqlParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSqlParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SqlParameter" nillable="true" type="tns:SqlParameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SqlParameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:DbParameter">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CompareInfo" type="tns:SqlCompareOptions" />
              <s:element minOccurs="0" maxOccurs="1" name="XmlSchemaCollectionDatabase" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="XmlSchemaCollectionOwningSchema" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="XmlSchemaCollectionName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LocaleId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SqlDbType" type="tns:SqlDbType" />
              <s:element minOccurs="0" maxOccurs="1" name="SqlValue" />
              <s:element minOccurs="0" maxOccurs="1" name="UdtTypeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TypeName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Offset" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DbParameter" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:MarshalByRefObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DbType" type="tns:DbType" />
              <s:element minOccurs="0" maxOccurs="1" default="Input" name="Direction" type="tns:ParameterDirection" />
              <s:element minOccurs="1" maxOccurs="1" name="IsNullable" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="" name="ParameterName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Precision" type="s:unsignedByte" />
              <s:element minOccurs="1" maxOccurs="1" name="Scale" type="s:unsignedByte" />
              <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="" name="SourceColumn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="false" name="SourceColumnNullMapping" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="Current" name="SourceVersion" type="tns:DataRowVersion" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MarshalByRefObject" abstract="true" />
      <s:simpleType name="DbType">
        <s:restriction base="s:string">
          <s:enumeration value="AnsiString" />
          <s:enumeration value="Binary" />
          <s:enumeration value="Byte" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Currency" />
          <s:enumeration value="Date" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Double" />
          <s:enumeration value="Guid" />
          <s:enumeration value="Int16" />
          <s:enumeration value="Int32" />
          <s:enumeration value="Int64" />
          <s:enumeration value="Object" />
          <s:enumeration value="SByte" />
          <s:enumeration value="Single" />
          <s:enumeration value="String" />
          <s:enumeration value="Time" />
          <s:enumeration value="UInt16" />
          <s:enumeration value="UInt32" />
          <s:enumeration value="UInt64" />
          <s:enumeration value="VarNumeric" />
          <s:enumeration value="AnsiStringFixedLength" />
          <s:enumeration value="StringFixedLength" />
          <s:enumeration value="Xml" />
          <s:enumeration value="DateTime2" />
          <s:enumeration value="DateTimeOffset" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ParameterDirection">
        <s:restriction base="s:string">
          <s:enumeration value="Input" />
          <s:enumeration value="Output" />
          <s:enumeration value="InputOutput" />
          <s:enumeration value="ReturnValue" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DataRowVersion">
        <s:restriction base="s:string">
          <s:enumeration value="Original" />
          <s:enumeration value="Current" />
          <s:enumeration value="Proposed" />
          <s:enumeration value="Default" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SqlCompareOptions">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="None" />
              <s:enumeration value="IgnoreCase" />
              <s:enumeration value="IgnoreNonSpace" />
              <s:enumeration value="IgnoreKanaType" />
              <s:enumeration value="IgnoreWidth" />
              <s:enumeration value="BinarySort" />
              <s:enumeration value="BinarySort2" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:simpleType name="SqlDbType">
        <s:restriction base="s:string">
          <s:enumeration value="BigInt" />
          <s:enumeration value="Binary" />
          <s:enumeration value="Bit" />
          <s:enumeration value="Char" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Float" />
          <s:enumeration value="Image" />
          <s:enumeration value="Int" />
          <s:enumeration value="Money" />
          <s:enumeration value="NChar" />
          <s:enumeration value="NText" />
          <s:enumeration value="NVarChar" />
          <s:enumeration value="Real" />
          <s:enumeration value="UniqueIdentifier" />
          <s:enumeration value="SmallDateTime" />
          <s:enumeration value="SmallInt" />
          <s:enumeration value="SmallMoney" />
          <s:enumeration value="Text" />
          <s:enumeration value="Timestamp" />
          <s:enumeration value="TinyInt" />
          <s:enumeration value="VarBinary" />
          <s:enumeration value="VarChar" />
          <s:enumeration value="Variant" />
          <s:enumeration value="Xml" />
          <s:enumeration value="Udt" />
          <s:enumeration value="Structured" />
          <s:enumeration value="Date" />
          <s:enumeration value="Time" />
          <s:enumeration value="DateTime2" />
          <s:enumeration value="DateTimeOffset" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SaveDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDataV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EquipmentId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:ArrayOfSqlParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDataV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveDataV2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDataV3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EquipmentId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="paramArray" type="tns:ArrayOfArrayOfSqlParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfSqlParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfSqlParameter" nillable="true" type="tns:ArrayOfSqlParameter" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveDataV3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveDataV3Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDataV4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EquipmentId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TableArray" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="paramArray" type="tns:ArrayOfArrayOfSqlParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveDataV4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveDataV4Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EquipmentId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveDataSoapIn">
    <wsdl:part name="parameters" element="tns:SaveData" />
  </wsdl:message>
  <wsdl:message name="SaveDataSoapOut">
    <wsdl:part name="parameters" element="tns:SaveDataResponse" />
  </wsdl:message>
  <wsdl:message name="SaveDataV2SoapIn">
    <wsdl:part name="parameters" element="tns:SaveDataV2" />
  </wsdl:message>
  <wsdl:message name="SaveDataV2SoapOut">
    <wsdl:part name="parameters" element="tns:SaveDataV2Response" />
  </wsdl:message>
  <wsdl:message name="SaveDataV3SoapIn">
    <wsdl:part name="parameters" element="tns:SaveDataV3" />
  </wsdl:message>
  <wsdl:message name="SaveDataV3SoapOut">
    <wsdl:part name="parameters" element="tns:SaveDataV3Response" />
  </wsdl:message>
  <wsdl:message name="SaveDataV4SoapIn">
    <wsdl:part name="parameters" element="tns:SaveDataV4" />
  </wsdl:message>
  <wsdl:message name="SaveDataV4SoapOut">
    <wsdl:part name="parameters" element="tns:SaveDataV4Response" />
  </wsdl:message>
  <wsdl:message name="QueryDataSoapIn">
    <wsdl:part name="parameters" element="tns:QueryData" />
  </wsdl:message>
  <wsdl:message name="QueryDataSoapOut">
    <wsdl:part name="parameters" element="tns:QueryDataResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="SaveData">
      <wsdl:input message="tns:SaveDataSoapIn" />
      <wsdl:output message="tns:SaveDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataV2">
      <wsdl:input message="tns:SaveDataV2SoapIn" />
      <wsdl:output message="tns:SaveDataV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataV3">
      <wsdl:input message="tns:SaveDataV3SoapIn" />
      <wsdl:output message="tns:SaveDataV3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataV4">
      <wsdl:input message="tns:SaveDataV4SoapIn" />
      <wsdl:output message="tns:SaveDataV4SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryData">
      <wsdl:input message="tns:QueryDataSoapIn" />
      <wsdl:output message="tns:QueryDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveData">
      <soap:operation soapAction="http://tempuri.org/SaveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataV2">
      <soap:operation soapAction="http://tempuri.org/SaveDataV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataV3">
      <soap:operation soapAction="http://tempuri.org/SaveDataV3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataV4">
      <soap:operation soapAction="http://tempuri.org/SaveDataV4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryData">
      <soap:operation soapAction="http://tempuri.org/QueryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveData">
      <soap12:operation soapAction="http://tempuri.org/SaveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataV2">
      <soap12:operation soapAction="http://tempuri.org/SaveDataV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataV3">
      <soap12:operation soapAction="http://tempuri.org/SaveDataV3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataV4">
      <soap12:operation soapAction="http://tempuri.org/SaveDataV4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryData">
      <soap12:operation soapAction="http://tempuri.org/QueryData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://211.143.68.36:8000/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://211.143.68.36:8000/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>